[submodule "Assets/ExternalGames/IdleRpg"]
	path = Assets/ExternalGames/IdleRpg
	url = https://github.com/wqxt/IdleRpg.git
	branch = main
[submodule "Assets/ExternalGames/Platformer"]
	path = Assets/ExternalGames/Platformer
	url = https://github.com/wqxt/PlatformerExample.git
	branch = main
